<footer class="w-full mx-auto px-4 xl:px-6">
  <div class="h-16 flex items-center">
    <div class="text-muted-foreground w-full px-1 text-center text-xs leading-loose sm:text-sm">
      <span>Construído por </span>
      <span class="font-medium underline underline-offset-4">Henderson Kleber</span>
      <span>. O código está disponível no </span>
      <a
        href="https://github.com/hendersonkleber/gerador-cnpj"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4 cursor-pointer"
        >GitHub</a
      >.
    </div>
  </div>
</footer>
